/* --- More --- */

section.main .content .front-matter .code-heading {
  background-color: #f7f7f7;
  width: 100%;
  padding: 0.2rem 1rem;
  border-radius: 2px;
}
section.main .content .front-matter .code-heading span+span:before {
  /* margin-right: 1rem; */
  padding: 8px;
  color: black;
  content: "/\00a0";
}
section.main .content .front-matter .code-heading a:hover {
  text-decoration: underline;
}

section.main .content .code-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

section.main .content .code-item .left {
  flex-basis: 4rem;
}
section.main .content .code-item .left span {
  font-family: 'Fira Mono', 'Menlo', monospace;
  color: #666;
  font-size: 2rem;
}

section.main .content .code-item .right {
}
section.main .content .code-item .right h3,
section.main .content .code-item .right h4 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #333;
}
section.main .content .code-item .right h3 {
  font-family: 'Fira Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.002rem;
  margin-bottom: -0.4rem;
}
section.main .content .code-item .right h4 {
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: none;
  margin-bottom: 0.5rem;
}

section.main .content .code-item .right p {
  /* margin-top: 1.75rem; */
}
section.main .content .code-item .right .links a {
  background-color: #199f6b;
  color: #fff;
  padding: 0.2rem 1rem;
  border-radius: 2px;
  margin-top: 2rem;
  margin-right: 1rem;
}
