node_modules
.tmp
.DS_Store

components/*

!components/animate.css/
components/animate.css/*
!components/animate.css/animate.css

!components/font-awesome/
components/font-awesome/*
!components/font-awesome/css/
!components/font-awesome/fonts/
components/font-awesome/css/*
!components/font-awesome/css/font-awesome.css

!components/jquery/
components/jquery/*
!components/jquery/dist/
components/jquery/dist/*
!components/jquery/dist/jquery.js

!components/angular/
components/angular/*
!components/angular/angular.js

!components/angular-animate/
components/angular-animate/*
!components/angular-animate/angular-animate.js

!components/angular-ui-router/
components/angular-ui-router/*
!components/angular-ui-router/release/
components/angular-ui-router/release/*
!components/angular-ui-router/release/angular-ui-router.js

!components/angular-bootstrap/
components/angular-bootstrap/*
!components/angular-bootstrap/ui-bootstrap-tpls.js