@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,400i';

html,body {
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #062531;
    font-family: 'Noto Sans', sans-serif;
    color: #fdf6e3;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    font-size: 3rem;
    font-weight: bold;
}

section {
    font-size: 1.5rem;
    font-style: italic;

    padding:1rem;
}

footer {
    font-size: 0.9rem;
    position: fixed;
    bottom: 1vh;
    left: 1vw;
    color: #586e75;
}

.wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    /* padding: 1rem 1rem; */

    /* box-shadow: 0 3rem 3rem -2rem rgba(0,0,0,0.3); */
    background-color: #073642;
}
.wrap:before {
    position: absolute;
    top: 30vh;
    left: 25vw;
    height: 50vh;
    width: 50vw;
    z-index: -1;
    content: "";

    transform: scale(0.9);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #dc322f, #b58900);
    animation: animateGlow 10s ease infinite;
}

.cutout {
    color: #dc322f;
    animation: textColor 10s ease infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes textColor {
    0% {
        color: #b58900;
    }
    50% {
        color: #dc322f;
    }
    100% {
        color: #b58900;
    }
}
