<!-- Construction Page -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="center-block">

                    <alert class="alert alert-block">
                        <h4>Sorry! We are under construction.</h4>
                        <p>Come back some time later... There may be more</p>
                    </alert>

                </div>
            </div>
        </div>
    </div>
</section>